// Color
$white: #fff;
$blue: #0078D7;
$gray: #4d4d4d;
$purple:#5C005C;
$gray-light: lighten($gray, 15%);
$gray-dark: darken($gray, 15%);


// Corp-color: these are the base color that start any project using the initial theme. Enjoy
$corp-color: $blue;
$corp-color-dark: darken($corp-color, 15%);
$corp-color-light: lighten($corp-color, 15%);
$corp-color-second: $white;
$corp-color-second-dark: darken($corp-color-second, 15%);
$corp-color-second-light: lighten($corp-color-second, 15%);

//==============================
//Typography variables
//==============================
$segoe-UI-regular: "Segoe UI",helvetica,arial,sans-serif;
$segoe-UI-light: "Segoe UI Light",helvetica,arial,sans-serif;
$segoe-UI-semilight: "Segoe UI Semilight",helvetica,arial,sans-serif;
$segoe-UI-semibold: "Segoe UI Semibold",helvetica,arial,sans-serif;

// Font: Declare your fonts sizes and base color here
$base-font-size: 16px;
$base-font-family: $segoe-UI-regular;
$base-font-color: $gray;
// Borders: Default border-color for containers and other modules using the default theme goes here.
$base-border-radius: 0px;
$rounded-border-radius: 50%;
$base-border-color: $gray-light;
// Navigation
$fixed-nav-body-padding: 50px;
// Footer
$footer-height: 70px;
$margin-bottom: $footer-height;
// Images instead of writing paths to images in the partials make them variables in order keep consistent pathing and easily change out images.
$masthead-image:'../images/masthead-image-4.png';
$video-fallback-image: '../images/video-image.png';
$onboarding-bg: '../images/onboarding-bg.jpg';
$ems-bg: '../images/BannersIdentiy_2000x500.png';
$manage-bg:'../images/manage-apps.png';
$apps-bg: '../images/app-office-image.png';
$announce-bg: '../images/office-365-2.png';
$mobile-solutions-bg: '../images/mobile-office-image.png';
$get-started-bg: '../images/get-started.png';
$surface-bg: '../images/surface-bg.png';
$resources-image: '../images/resources-2.png';

@import '../../main';
