// Default schemes
//==============================
//Color variables
//==============================
$black: #000 !default;
$white: #fff !default;
$red: #a40002 !default;
$orange: #DB3A00 !default;
$yellow: #F7E98C !default;
$blue: #002050 !default;
$green: #6db55e !default;
$purple:#5C005C !default;
// Base Colors for our gray colors. This is mostly for text setting
$gray-base: $black !default;
$gray: #838282 !default;
$gray-light: lighten($gray, 15%) !default;
$gray-dark: darken($gray, 15%) !default;
// Corp-color: these are the base color that start any project using the initial theme. Enjoy
$corp-color: #0078D7 !default;
$corp-color-dark: darken($corp-color, 15%) !default;
$corp-color-light: lighten($corp-color, 15%) !default;
$corp-color-second: $white !default;
$corp-color-second-dark: darken($corp-color-second, 15%) !default;
$corp-color-second-light: lighten($corp-color-second, 15%) !default;
//==============================
//Typography variables
//==============================
$segoe-UI-regular: "Segoe UI",
helvetica,
arial,
sans-serif;
$segoe-UI-light: "Segoe UI Light",
helvetica,
arial,
sans-serif;
$segoe-UI-semilight: "Segoe UI Semilight",
helvetica,
arial,
sans-serif;
$segoe-UI-semibold: "Segoe UI Semibold",
helvetica,
arial,
sans-serif;
// Font: Declare your fonts sizes and base color here
$base-font-size: 16px !default;
$base-font-family: $segoe-UI-regular !default;
$base-font-color: $gray-dark !default;
// TYPESCALE CREATOR
$base-font-size: 16px;
$base-line-height: 1.3;
$scale: 1.5;
$breakpoints: ( small: 480px, medium: 960px, large: 1200px);
$breakpoint-sizes: ( 
  small: ( base-font-size: 16px, base-line-height: 1.3, scale: 1.25), 
  medium: ( base-font-size: 18px, base-line-height: 1.4, scale: 1.4), 
  large: ( base-font-size: 22px, base-line-height: 1.5, scale: 1.5)
  );

//==============================
//Layout variables
//==============================
// Default Box-sizing
$default-box-sizing: border-box !default;
// Borders: Default border-color for containers and other modules using the default theme goes here.
$base-border-radius: 0px !default;
$rounded-border-radius: 50% !default;
$base-border-color: $gray !default;
// BOX-SHADOW
$brand-box-shadow: 0px 1px 5px rgba($gray, 0.2) !default;
// Navigation
$fixed-nav-body-padding: 50px !default;
// Footer
$footer-height: 70px !default;
$margin-bottom: $footer-height !default;
//==============================
//Image variables - Images instead of writing paths to images in the partials make them variables in order keep consistent pathing and easily change out images.
//==============================
$arrow-right: '../images/icons/svg/arrow-right-icon.svg' !default;
// NOTE: the value "!default" is used to define base values.

//If no value is given to a variable in another theme file the above values will be used.
