/*=================Base Reset Styles==================*/

*,
*:before,
*:after {
    box-sizing: $default-box-sizing;
}

// This is explictily for VSO projects not needed in projects outside of that org.
// #view-pages {
//     display: none;
// }

html {
    position: relative;
    min-height: 100%;
}
