
/*
=================================================================== 
 $Typography - All default styling for typpgraphy should go here
===================================================================
*/
//TYPESCALE CREATOR MIXIN (UNSTABLE)
// TYPESCALE  VARIABLES 
// $base-font-size: 16px;
// $base-line-height: 1.3;
// $scale: 1.5;
// $bp-sizes: ( 
//   'small': ( 
//     'base-font-size': 16px, 
//     'base-line-height': 1.3, 
//     'scale': 1.25,
//     ), 
//   'medium': ( 
//     'base-font-size': 18px, 
//     'base-line-height': 1.4, 
//     'scale': 1.4,
//     ), 
//   'large': ( 
//     'base-font-size': 22px, 
//     'base-line-height': 1.5, 
//     'scale': 1.5,
//     ),
//   );
// $breakpoints: ( 
//   'small': 480px, 
//   'medium': 960px, 
//   'large': 1200px,
//   );
// $font-sizes: (
//   'p', 
//   'bq', 
//   'ssh', 
//   'sh', 
//   'h', 
//   'hero',
//   );
// @mixin typescale-breakpoint($name) {
//   @if not map-has-key($breakpoints, $name) {
//     @warn 'Invalid breakpoint `#{$name}`.';
//   }
//   @else {
//     @if map-get($breakpoints, $name)=='' {
//       @content;
//     }
//     @else {
//       @media screen and (min-width: map-get($breakpoints, $name)) {
//         @content;
//       }
//     }
//   }
// }

// // FUNCTION TO GET TYPESCALE BREAKPOINTS
// @function get-breakpoint-property($prop, $bp) {
//   @return map-get(map-get($bp-sizes, $bp), $prop);
// }

// @mixin generate-font-properties($label, $scale, $base-font-size, $base-line-height) {
//   $scale-value: index($font-sizes, $label) - 1;
//   $fs: pow($scale, $scale-value) * $base-font-size;
//   $lh: $base-font-size * $base-line-height / $fs;
//   @while $lh < 1 {
//     $lh: $lh + $lh;
//   }
//   font-size: $fs;
//   line-height: $lh;
// }

// @each $size, $data in $bp-sizes {
//   $bsf: get-breakpoint-property(base-font-size, $size);
//   $blh: get-breakpoint-property(base-line-height, $size);
//   $s: get-breakpoint-property(scale, $size);
//   @include typescale-breakpoint($size) {
//     @each $label in $font-sizes {
//       %#{$label} {
//         @include generate-font-properties($label, $s, $bsf, $blh);
//       }
//     }
//   }
// }


html {
    font-size: 100%;
    font-family: $segoe-UI-regular;
}

@font-face {
    font-family: 'su';
    src: url('../Fonts/segoeui.eot');/* IE9 Compat Modes */
    src: url('../Fonts/segoeui.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
    url('../Fonts/segoeui.woff') format('woff'),/* Modern Browsers */
    url('../Fonts/segoeui.ttf') format('truetype'),/* Safari, Android, iOS */
    url('../Fonts/segoeui.svg#segoeui') format('svg')/* Legacy iOS */
}

@font-face {
    font-family: 'susl';
    src: url('../Fonts/segoeuisl.eot');/* IE9 Compat Modes */
    src: url('../Fonts/segoeuisl.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
    url('../Fonts/segoeuisl.woff') format('woff'),/* Modern Browsers */
    url('../Fonts/segoeuisl.ttf') format('truetype'),/* Safari, Android, iOS */
    url('../Fonts/segoeuisl.svg#segoeuisl') format('svg')/* Legacy iOS */
}

@font-face {
    font-family: 'sul';
    src: url('../Fonts/segoeuil.eot');/* IE9 Compat Modes */
    src: url('../Fonts/segoeuil.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
    url('../Fonts/segoeuil.woff') format('woff'),/* Modern Browsers */
    url('../Fonts/segoeuil.ttf') format('truetype'),/* Safari, Android, iOS */
    url('../Fonts/segoeuil.svg#7a970ceae9a1ab02ac93bba8667b5195') format('svg');/* Legacy iOS */
    
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'susb';
    src: url('../Fonts/seguisb.eot');/* IE9 Compat Modes */
    src: url('../Fonts/seguisb.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
    url('../Fonts/seguisb.woff') format('woff'),/* Modern Browsers */
    url('../Fonts/seguisb.ttf') format('truetype'),/* Safari, Android, iOS */
    url('../Fonts/seguisb.svg#segoeuisl') format('svg')/* Legacy iOS */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $segoe-UI-light;
    color: $corp-color;
}

h1 {
    @include font-size(32px);
    line-height: 1.25em;
    @include breakpoint-lg {
        @include font-size(48px);
        line-height: 1.05em;
    }
    @include breakpoint-md {
        @include font-size(40px);
        line-height: 1.125em;
    }
}

h2 {
    @include font-size(26px);
    line-height: 1.1538em;
    @include breakpoint-lg {
        @include font-size(36px);
        line-height: 1.25em;
    }
    @include breakpoint-md {
        @include font-size(32px);
        line-height: 1.1538em;
    }
}

h3 {
    @include font-size(22px);
    line-height: 1.136em;
    @include breakpoint-lg {
        @include font-size(28px);
        line-height: 1.25em;
    }
    @include breakpoint-md {
        @include font-size(24px);
        line-height: 1.1363em;
    }
}

h4 {
    @include font-size(18px);
    line-height: 1.111em;
    @include breakpoint-lg {
        @include font-size(18px);
        line-height: 1.222em;
    }
    @include breakpoint-md {
        @include font-size(18px);
        line-height: 1.111em;
    }
}

h5 {
    @include font-size(14px);
    line-height: 1.111em;
    @include breakpoint-lg {
        @include font-size(14px);
        line-height: 1.2em;
    }
    @include breakpoint-md {
        @include font-size(14px);
        line-height: 1.111em;
    }
}

h6 {
    @include font-size(12px);
    line-height: 1.111em;
    @include breakpoint-lg {
        @include font-size(12px);
        line-height: 1.2em;
    }
    @include breakpoint-md {
        @include font-size(12px);
        line-height: 1.111em;
    }
}

body {
    @include font-size($base-font-size);
    color: $base-font-color;
    font-family: $segoe-UI-regular;
}
label
{
    font-family: $segoe-UI-light;
}

.title-header{
    @extend %h;
    color: $corp-color-dark;
}