<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIE Redesign-DS</title>
    <!-- Bootstrap CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="css/vdw-branding.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>
    <header ng-controller="HeaderController">
      <nav class="navbar cie-header" role="navigation">
        <div class="container">
          <div class="pull-right">
            <ul class="list-inline">
              <li><a href="#"><span class="sr-only">Notifications</span> <span class="icons icon-notification"></span></a></li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <mscieuploader block-size="2048" retries="4" retry-backoff="4"></mscieuploader>
                </a>
              </li>
              <li class="divider"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="sr-only">Profile Info</span> <span class="icons icon-profile"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-header">
            <a class="navbar-brand cie-brand" href="#"><span class="hidden-xs">Customer Immersion Experience</span> <span class="visible-xs">CIE</span></a>
          </div>
        </div>
      </nav>
      <nav class="navbar cie-navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="dashboard-link pull-right visible-xs" href="/General/General/Dashboard"><span class="icons icon-dashboard"></span> My Dashboard</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav cie-nav navbar-nav">
              <li><a href="/">Get Started</a></li>
              <li><a href="/General/General/Learn">Learn</a></li>
              <li><a href="/General/General/Community">Community</a></li>
              <li><a href="/General/General/Help/Index">Help</a></li>
              <a class="dashboard-link navbar-right hidden-xs" href="/General/General/Dashboard"><span class="icons icon-dashboard"></span> My Dashboard</a>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="wrap bg-brand-gray-lt">
      <div class="container-fluid">
        <div class="full-height">
          <div ng-controller="GetStartedController">
            <div class="row bg-brand-gray-dk">
              <div>
                <ticker></ticker>
              </div>
              <div class="col-md-12">
                <div class="default-banner">
                  <div class="banner-line">
                    <span class="text-center banner-text">Set <a class="txt-brand-yellow" ng-click="SetAsDefault()">Get Started</a> as home.</span>
                  </div>
                </div>
              </div>
              <section id="section-1" class="col-md-12 txt-brand-gray-lt">
                <h1 class="text-center">Get Started</h1>
                <div class="row">
                  <div class="container">
                    <div class="center-block">
                      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quia velit nobis, id, at labore, fuga error temporibus dolorem est adipisci itaque illo officiis ab magni explicabo! Magnam aperiam, expedita.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <ul class="get-started-icon-list">
                    <li>
                      <figure class="gs-img">
                        <img src="content/images/girl-on-computer.png" alt="girl" class="">
                        <figcaption>
                          <span class="icons icon-added-progress"></span> CREATE
                        </figcaption>
                    </li>
                    <li>
                      <figure class="gs-img">
                        <img src="content/images/hand-holding-computer.png" alt="computer" class="">
                        <figcaption>
                          <span class="icons icon-added-progress"></span> PREPARE
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure class="gs-img gs-img-last">
                        <img src="content/images/man-woman-shaking-hands.png" alt="hand" class="">
                        <figcaption>
                          <span class="icons icon-added-progress"></span> PRESENT
                        </figcaption>
                      </figure>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group text-center">
                      <a href="@Url.Action(" SessionWizard ", "Session ", new { area="SessionModel " })" class="brand-btn2">Create a Session</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="row">
              <section id="section-1" class="col-md-12">
                <div class="row">
                  <div class="info-bar">
                    <h4 class="text-center">
                        Looking for your exisiting sessions and tenants. Visit
                        <a ng-click="goToDashboard()"><span class="icons icon-dashboard"></span>My Dashboard</a>
                    </h4>
                  </div>
                </div>
              </section>
            </div>
            <div class="row">
              <section id="section-2" class="col-md-12">
                <div class="container">
                  <div class="info-block-container">
                    <div class="info-block">
                      <h3 class="info-block-header"><a href="/General/General/Learn">Learn More</a></h3>
                      <p>Learn how to get started with CIE, what products and solutions are covered, and how CIE fits into your sales cycle.</p>
                    </div>
                    <div class="info-block">
                      <h3 class="info-block-header"><a href="/SupportModel/Help/Index">Need Help?</a></h3>
                      <p>Integer viverra, neque vitae bibendum interdum, mauris eros facilisis nunc, eget auctor sem ligula eu lectus. Pellentesque tincidunt malesuada iaculis. Nam a tincidunt lacus. Fusce id leo nulla. Nam egestas dapibus ligula, mattis ullamcorper dui eleifend quis. Duis consectetur non leo quis lobortis.</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <ul class="footer-nav list-inline">
            <li><a href="/SessionModel/CustomerInquiry/index">CONTACTS US</a></li>
            <li><a href="http://www.microsoft.com/privacystatement/en-us/office/default.aspx">PRIVACY &amp; COOKIES</a></li>
            <li class="ft-nav-last"><a target="_blank" href="http://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">TERMS OF USE</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pull-right mt-10">
            <img src="content/images/microsoft-logo.png" alt="Microsoft logo" />
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
